<section id="characters-section">
    <div class="wrap">
        <div class="container">
            <div *ngIf="characters" id="characters-list">
                <ng-container *ngFor="let character of characters">
                    <app-card [item]="character"></app-card>
                </ng-container>
            </div>
            <div id="page-layout">
                <button (click)="lastPage()">
                    <p><span class="material-symbols-outlined">arrow_back_ios</span>Anterior</p>
                </button>
                <button (click)="nextPage()">
                    <p>Siguiente<span class="material-symbols-outlined">arrow_forward_ios</span></p>
                </button>
            </div>
        </div>
    </div>
</section>