<section id="character-view">
    <ng-container *ngIf="character">
      <div class="container wrap">
        <div id="image-layout">
          <img id="image" [src]="character.image" alt="Image Character">
        </div>
  
        <div id="character-info">
          <div id="main-info">
            <div id="optional-info-layout">
              <p class="optional-info">
                <span class="icon">Estado:</span> {{character.status}}
              </p>
              <p class="optional-info">
                <span class="icon">Especie:</span> {{character.species}}
              </p>
            </div>
  
            <div id="title-layout">
              <h1 id="title">{{character.name}}</h1>
            </div>
          </div>
  
          <div id="secundary-info">
            <div class="box-info">
              <p class="title-secundary">Genero</p>
              <p class="info-secundary">{{character.gender}}</p>
            </div>
            <div class="box-info">
              <p class="title-secundary">Origen</p>
              <p class="info-secundary">{{character.origin.name}}</p>
            </div>
            <div class="box-info">
              <p class="title-secundary">Ubicación</p>
              <p class="info-secundary">{{character.location.name}}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </section>