<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>

<div>
  <header>
    <div class="container wrap">
      <div id="icon-layout">
        <img src="../assets/icons/icon_home.png" alt="Icono de inicio">
      </div>

      <div id="menu-layout">
        <nav id="menu-home">
          <ul>
            <li><a class="item-menu" [routerLink]="['/character']">Personajes</a></li>
            <li><a class="item-menu" [routerLink]="['/episode']">Episodios</a></li>
            <li><a class="item-menu" [routerLink]="['/location']">Ubicaciones</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
</div>

<router-outlet></router-outlet>