<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
  </head>
  
  <div>
    <header>
      <div class="container wrap">
        <div id="icon-layout">
          <img src="../assets/icons/icon_home.png" alt="Icono de inicio">
        </div>
  
        <div id="search-layout">
          <form (ngSubmit)="sendDataSearch()">
            <input type="text" [formControl]="search" name="searchCharacter" placeholder="Ingrese el nombre del personaje">
            <button><span class="material-symbols-outlined">search</span></button>
          </form>
        </div>
      </div>
    </header>
  </div>
  
  <router-outlet></router-outlet>

