<section id="characters-section">
    <div class="wrap">
      <div class="container">
        <div *ngIf="characters" id="characters-list">
          <ng-container *ngFor="let character of characters">
            <div class="character-card">
              <div class="image-layout">
                <img class="image" [src]="character.image" alt="imagen del personaje" />
              </div>
              <div class="character-info-layout">
                <div class="info-layout">
                  <h2 class="character-name">{{character.name}}</h2>
                  <h3 class="character-info">Estado: {{character.status}}</h3>
                  <h3 class="character-info">Especie: {{character.species}}</h3>
                </div>
                <div class="buttons-layout">
                  <a [routerLink]="[character.id]" class="button details">Detalles</a>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <div id="page-layout">
          <button (click)="lastPage()"><p><span class="material-symbols-outlined">arrow_back_ios</span>Anterior</p></button>
          <button (click)="nextPage()"><p>Siguiente<span class="material-symbols-outlined">arrow_forward_ios</span></p></button>
        </div>
      </div>
    </div>
  </section>